<div class="container-fluid">
    <div class="row">
<nav class="navbar navbar-expand navbar-dark bg">
   
            <div class="col-6 offset-1">
                <a class="navbar-brand" routerLink="MyAPP/home">MyAPP</a>
            </div>
            <div class="col">
                <div class="collapse navbar-collapse" id="bts">
                    <button class="btn-change7 btn"  type="button" (click)="gotoaddapp()">Add APP</button>
                  </div>
    </div>
  </nav>
</div>
    
</div>